.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, rgba(11, 11, 23, 0.70) 73.23%, rgba(11, 11, 23, 0.00) 100%);
  padding: 40px;
  height: 300px;
}

.title {
  font-family: "Caveat", cursive;
  font-size: 6rem;
  margin: 1.6rem 0;
}

.subtitle {
  font-size: 2.2rem;
  margin: 0;
}

.buttons__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.buttons__container button {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .buttons__container {
    flex-direction: column-reverse;
  }
  .container {
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 6.6rem;
  }

  .subtitle {
    font-size: 3rem;
  }
}
